@import "/src/styles/variaveis";
@import "/src/styles/breakpoints";


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.texto {
	display: flex;
	flex-direction: row;	
	width: 1200px;
	height: 42px;
	margin-left: 168px;
	margin-top:  166px;
	bottom: 71.81%;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 3px;

	color: #171414;
}
