.h1{
  display: flex;
  flex-direction: row;
  margin-left: 50px ;
  margin-top: 50px;

}
.texto{
  margin-left: 50px;
}
.ash{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-left: 50px;
  
}