@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


.buscador {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 1088px;
	height: 53px;
	margin-left: 177px;
	margin-top: 33px;
	padding-top: 7px;
	
	background: #ffffff;
	border: 1px solid #f1f1f1;
	box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.1);
	border-radius: 40px;
	input {
		
		padding-left: 20px;
		border: none;
		font-size: 1.5rem;
		
		font-family: 'Open Sans';
		outline: none;
		width: 93%;
		height: auto;
		

	}

	
}

